.navbar {
    height: 100px;
}

.navbar-brand {
    font-size: 3rem;
    margin-left: 150px;
}

.alert.error {
    background-color: #f8d7da;
    color: #721c24;
}

.alert.success {
    background-color: #285031;
    color: #155724;
}

.alert.info {
    background-color: #d1ecf1;
    color: #0c5460;
}

.container-style {
    border-style: solid;
    border-color: black;
    background-color: #f0f8ff;
}