{% extends "layout.html" %}

{% block title %}
Weekly Plan
{% endblock %}

{% block main %}
<div class="container-md container-style">
  <h1 class="mb-2">Recipes for your Week</h1>
</div>
<!--Recipe Card Display-->

<div class="recipe-container" style="justify-content: center;">
{% for recipe in weeklyRecipeCards %}
    <div class="card text-start recipe-card">
      <div class="card-header">
        {{ recipe['cuisine'] }}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ recipe['title'] }}</h5>
        <p class="card-text">{{ recipe['meal_type'] }}</p>
        <a class="btn btn-sm btn-primary" href="{{ url_for('view_recipe', recipe_id=recipe['id']) }}">View Recipe</a>
      </div>
    </div>
{% endfor %}
</div>
{% endblock %}